set_io clk_in          90
set_io mcp_dclk        95
set_io mcp_dout        94
set_io mcp_din         93
set_io mcp_cs_n        91
set_io ft_bus[0]       74
set_io ft_bus[1]       73
set_io ft_bus[2]       72
set_io ft_bus[3]       71
set_io ft_bus[4]       69
set_io ft_bus[5]       68
set_io ft_bus[6]       66
set_io ft_bus[7]       65
set_io ft_rxf_n        60
set_io ft_txe_n        59
set_io ft_rd_n         57
set_io ft_wr_n         56
set_io ft_siwu_n       54
set_io ft_clkout       53
set_io ft_oe_n         52
set_io pwm_shutter     78
set_io pwm_peltier_1   80
set_io pwm_peltier_2   79
set_io ad_adclk        36
set_io ad_cdsclk1      40
set_io ad_cdsclk2      37
set_io ad_oeb_n        34
set_io kaf_amp         18
set_io kaf_h1          16
set_io kaf_r           15
set_io kaf_v1          41
set_io kaf_v2          42
set_io ad_data[0]      24
set_io ad_data[1]      25
set_io ad_data[2]      26
set_io ad_data[3]      27
set_io ad_data[4]      28
set_io ad_data[5]      29
set_io ad_data[6]      30
set_io ad_data[7]      33
set_io ad_sload        19
set_io ad_sclk         20
set_io ad_sdata        21
set_io debug[0]        1
set_io debug[1]        3
set_io debug[2]        7
set_io debug[3]        9
set_io debug[4]        12